APP_NAME=Example Co
WP_ENV=production
WP_HOME=https://admin.example.com
WP_SITEURL=${WP_HOME}/wp

DB_NAME=example_wp
DB_USER=forge
DB_PASSWORD=
DB_HOST=127.0.0.1

# Static frontend
STATIC_URL=https://www.example.com
S3_STATIC_BUCKET=example-static-prod
S3_MEDIA_BUCKET=example-media-prod
AWS_REGION=ap-southeast-2
CLOUDFRONT_DISTRIBUTION_ID=

# Deploy
AUTO_STATIC_DEPLOY=false

# Generate keys: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
